[submodule "puppet/modules/augeas"]
	path = puppet/modules/augeas
	url = https://github.com/camptocamp/puppet-augeas.git
[submodule "puppet/modules/augeasproviders"]
	path = puppet/modules/augeasproviders
	url = https://github.com/hercules-team/augeasproviders.git
