#virtualenv
bin/
ethertest.egg-info/
include/
lib/
local
man/
share/
build/
html

#bootstrap
eggs/
develop-eggs/
bootstrap.py

#vagrant
.vagrant

#python
*.pyc

#eclipse
.project
.pydevproject
.settings

#vim
*.swp
.ropeproject
