[submodule "puppet/modules/augeas"]
	path = puppet/modules/augeas
	url = https://github.com/camptocamp/puppet-augeas.git
[submodule "puppet/modules/augeasproviders"]
	path = puppet/modules/augeasproviders
	url = https://github.com/hercules-team/augeasproviders.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
    url = https://github.com/offlinehacker/puppetlabs-stdlib.git
[submodule "puppet/modules/iptables"]
	path = puppet/modules/iptables
	url = https://github.com/offlinehacker/offlinehacker-iptables.git
[submodule "puppet/modules/radvd"]
	path = puppet/modules/radvd
	url = https://github.com/fpletz/puppet-radvd.git
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = https://github.com/ripienaar/puppet-concat.git
